# Database
DATABASE_URL="postgresql://user:password@localhost:5432/auto_quotations?schema=public"

# Environment
NODE_ENV="development"

# authentication
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
